body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
    display: block;  
}

header {
    top: 0;
    background-color: #ffffff;
    justify-content: center;
    position: fixed;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    height: auto;
    width: 100%;
}

h1 {
    margin: 30px;
}

a {
    color: black;
}

header .me {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    position: fixed;
}

.Search{
    background-color: #86BA90;
    justify-content: none;
    left: 20px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    width: auto;
}

input {
    border: none;
    background: none;
    padding: 10px;
    size: 200px;
    width: 80%;
    height: 5px;
}

button {
    background: none;
    border: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    padding-top: 250px;
    padding-bottom: 70px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 120px;
    height: auto;
}

.product a {
    padding: 1px;
}

.product i {
    font-size: 25px;
    margin: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
}

.main {
    padding: 10px;
    background-color: #F5F3BB;
    border-radius: 20px;
}

.menu a {
    justify-content: center;
    padding: 10px;
}

.menu i {
    font-size: 20px;
    margin: 10px;
}

.bodytype {
    margin-left: 10px;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.bodytype a {
    padding: 20px;
    margin: 10px;
    width: 20;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
}

.header a{
    color: #C08552;
    padding: 20px;
    font-size: 40px;
    position: fixed;
    text-align: center;
}

.PicDress {
    margin: 5px;
    float: left;
    width: 110px;

}

